### Web Scrapping Assignment 2(Selenium)

Importing the required libraries

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import  NoSuchElementException

In [85]:
driver = webdriver.Chrome('chromedriver.exe')

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

###### 1. First get the webpage https://www.naukri.com/

In [57]:
url='https://www.naukri.com/'
driver.get(url)

##### 2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [4]:
#Entering details in search criteria for designations
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

#Entering deatils in loaction field
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

##### 3. Then click the search button

In [5]:
#Clicking on search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

##### 4. Then scrape the data for the first 10 jobs results you get.

In [22]:
# We will create empty list in which we will update the required data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
#Extracting all the tages with the job titles.

title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    Job=job_title[:10]

In [33]:
Job

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data analysts',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [34]:
#Extracting all the tages with the job location.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    job_location.append(i.text)
    loc=job_location[:10]
loc

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [35]:
#Extracting all the tages with the company names.
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    com=company_name[:10]
com

['Inflexion Analytix Private Limited',
 'Opex Global Services',
 'IBM India Pvt. Limited',
 'Mind Circus Innovation',
 'Tech Mahindra Ltd.',
 'IBM India Pvt. Limited',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [36]:
#Extracting all the tages with the experince required.
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp_tags:
    experience_required.append(i.text)
    exp=experience_required[:10]
exp

['0-3 Yrs',
 '5-10 Yrs',
 '5-6 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '9-13 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs']

##### 5. Finally create a dataframe of the scraped data.

In [37]:
Data_Analyst={'Job':Job,'Location':loc,
              'Company':com,'Experience Required':exp}
Data_Analyst=pd.DataFrame(data=Data_Analyst)
Data_Analyst

,Job,Location,Company,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist / Data Analyst -Business Analyst,Bangalore/Bengaluru,Opex Global Services,5-10 Yrs
2,Senior Data Analyst - Data Lineage,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
3,Data analysts,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",Mind Circus Innovation,0-1 Yrs
4,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
5,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
6,Data analysts,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)","dotSolved India Pvt., Ltd.",9-13 Yrs
7,Business Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

###### 1. First get the webpage https://www.naukri.com/

In [68]:
url='https://www.naukri.com/'
driver.get(url)

##### 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [69]:
#Entering details in search criteria for designations
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

#Entering deatils in loaction field
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

##### 3. Then click the search button

In [70]:
#Clicking on search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

##### 4. Then scrape the data for the first 10 jobs results you get.

In [71]:
# We will create empty list in which we will update the required data
job=[]
loc=[]
comp=[]
desc=[]

In [72]:
#Extracting all the tages with the job titles.

title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job.append(i.text)
    job=job[:10]
job

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)']

In [21]:
location=driver.find_element_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location.text

'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru'

In [82]:
#Extracting all the tages with the job location.

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    loc.append(i.text)
loc=loc[:10]
loc

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR']

In [74]:
#Extracting all the tages with the company names.
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    comp.append(i.text)
    
comp=comp[:10]
comp

['Inflexion Analytix Private Limited',
 'RedBus',
 'RedBus',
 'Fractal Analytics',
 'Morgan Stanley Advantage Services',
 'bd',
 'FICO',
 'Fractal Analytics',
 'Global Talent Pool',
 'TalkValley LLC']

#### Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

In [76]:
#For this task we have to scrap url for each job
from selenium.common.exceptions import  NoSuchElementException
url_job=[]
for i in title:
    url_job.append(i.get_attribute('href'))

for k in url_job[0:10]:
    try:
        
        driver.get(k)
        descript=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
        desc.append(descript)
    except NoSuchElementException:
        desc.append('NA')

desc=desc[:10]
desc

["Job Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nAlexandria A - +91 76958 88879\nManigandan -+91 93444 57360\n\nEmail :\n\nalexandriaa@centerforaia.com\nmanigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.",
 'NA',
 'NA',
 'Serve as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment.\nWilling to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project.\nHands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects.\nMust Have\n8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream\nExperience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis.\n5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform.\nStatistical model building with 5 years of experience\nBasic understanding of machine learning models development in python and leveraging AWS.\nBachelors Degree in Engineering, Mathematics Analytics, Economics or Business\nNice to Have\n5 years of Knowledge and experience with SAS or SAS Viya platform\nExperience working with remote teams spread across the globe\nMachine Learning modelling experience\nPython programming to build ML models\nAWS or equivalent other cloud based services knowledge SAS EG\nExperience working in a data analytics COE or in an analytics consulting company',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA']

##### 5. Finally create a dataframe of the scraped data.

In [84]:
Data_Scientist={'Job':job,'Location':loc,
              'Company':comp,'Job Description':desc}
Data_Scientist=pd.DataFrame(data=Data_Scientist)
Data_Scientist

,Job,Location,Company,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job Role : Data Scientist/Data Analyst /Busine...
1,Senior Data Scientist,Bangalore/Bengaluru,RedBus,NA
2,Immediate job opening - Senior Data Scientist,Bangalore/Bengaluru,RedBus,NA
3,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Serve as primary technical lead on all phases ...
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Bangalore/Bengaluru,Morgan Stanley Advantage Services,NA
5,Lead Data Scientist,Bangalore/Bengaluru,bd,NA
6,Lead Data Scientist,Bangalore/Bengaluru,FICO,NA
7,Lead Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,NA
8,data scientist,Bangalore/Bengaluru,Global Talent Pool,NA
9,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,NA

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

##### You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

###### The task will be done as shown in the below steps:

##### 1. First get the webpage https://www.naukri.com/

In [105]:
driver = webdriver.Chrome('chromedriver.exe')

In [106]:
url='https://www.naukri.com/'
driver.get(url)

##### 2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

In [107]:
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')

##### 3. Then click the search button.

In [108]:
driver.find_element_by_xpath("//button[@class='btn']").click()

##### 4. Then apply the location filter and salary filter by checking the respective boxes

In [109]:
#Applying filter for loaction 'Delhi/NCR'

driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i").click()
time.sleep(4)

#Applying fliter for salary '3-6 lakhs'

driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i").click()

##### 5. Then scrape the data for the first 10 jobs results you get.

In [120]:
# We will create empty list in which we will update the required data
Job=[]
Loc=[]
Comp=[]
Exp=[]

#scrapping job titles
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    Job.append(i.text)
    Job=Job[:10]
    
#scrapping location
loct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loct:
    Loc.append(i.text)
    Loc=Loc[:10]
    
#scrapping company
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    Comp.append(i.text)
    Comp=Comp[:10]
    
#scrapping experience
expe=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in expe:
    Exp.append(i.text)
    Exp=Exp[:10]

#Creating the DataFrame
Data_Scientist_Delhi={'Job':Job,'Location':Loc,
              'Company':Comp,'Experience':Exp}
Data_Scientist_Delhi=pd.DataFrame(data=Data_Scientist_Delhi)
Data_Scientist_Delhi

,Job,Location,Company,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
2,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
3,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
8,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
9,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

#### This task will be done in following steps:

##### 1. first get the webpage https://www.glassdoor.co.in/index.htm

In [131]:
driver = webdriver.Chrome('chromedriver.exe')

In [132]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

###### 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.

In [133]:
from selenium.webdriver.common.keys import Keys

#Entering Data Scientist in Job field
driver.find_element_by_xpath("//input[@id='sc.keyword']").send_keys('Data Scientist')

#To ender 'Noida' in loaction field, I have to delete 'Mumbai' which is auto populated.
driver.find_element_by_xpath('//input[@id="sc.location"]').clear()
driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida')

##### 3. Then click the search button.

In [134]:
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

##### 4. Then scrape the data for the first 10 jobs results you get in the above shown page.

In [151]:
# We will create empty list in which we will update the required data
c_name=[]
days=[]
rating=[]

#scrapping company name
companies=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
for i in companies:
    c_name.append(i.text)
    c_name=c_name[:10]

#scrapping the number of days before it was posted
day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in day:
    days.append(i.text)
    days=days[:10]

ratings=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
for i in ratings:
    rating.append(i.text)
    rating=rating[:10]
    
#Creating the DataFrame

DS_Glassdoor={'Company Name':c_name,'Days Posted':days,'Rating':rating}
DS_Glassdoor=pd.DataFrame(data=DS_Glassdoor)
DS_Glassdoor

               Company Name Days Posted Rating
0                   Taboola          4d    4.2
1                   Bechtel         14d    3.9
2             Data Patterns         24h    3.0
3  Lantern Digital Services          6d    3.5
4            Biz2Credit Inc         20d    3.7
5           Priority Vendor         12d    3.7
6                  Ericsson         10d    4.1
7      Gauge Data Solutions         12d    3.0
8                     Crowe         12d    3.8
9            Team Computers         24h    4.1

#### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
###### You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:

In [49]:
# 1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm

driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [50]:

# 2. Enter “Data Scientist” in Job title field and “Noida” in location field.

driver.find_element_by_xpath("//input[@name='sc.keyword']").send_keys('Data Scientist')

In [51]:
driver.find_element_by_xpath("//input[@id='LocationSearch']").clear()
driver.find_element_by_xpath("//input[@id='LocationSearch']").send_keys('Noida')

In [52]:
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [91]:

c=[]
mins=[]
maxs=[]
avg=[]
num=[]

#scrapping company name
for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
    c.append(i.text)
    c=c[:10]

#scrapping min salary
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]"):
    mins.append(i.text)
    mins=mins[:10]

#scrapping max salary
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]"):
    maxs.append(i.text)
    maxs=maxs[:10]
    
#scrapping average salary    
for i in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
    avg.append(i.text.replace('\n',''))
    avg=avg[:10]

#scrapping number of salaries
for i in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
    num.append(i.text)
    num=num[:10]
    
#creating a dataframe for #Company name, Number of salaries, Average salary, Min salary, Max Salary.

DS_Sal={'Company name':c,'Number of salaries':num,'Average Salary':avg,
       'Min Salary':mins,'Max Salary':maxs}
DS_Sal=pd.DataFrame(data=DS_Sal)
DS_Sal

,Company name,Number of salaries,Average Salary,Min Salary,Max Salary
0,Tata Consultancy Services,17 salaries,"₹ 6,15,289/yr",₹343K,"₹1,250K"
1,IBM,15 salaries,"₹ 9,00,000/yr",₹587K,"₹2,734K"
2,Accenture,14 salaries,"₹ 11,48,366/yr",₹578K,"₹2,217K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,39,238/yr",₹355K,"₹1,615K"
4,Delhivery,14 salaries,"₹ 12,41,763/yr",₹451K,"₹11,640K"
5,UnitedHealth Group,11 salaries,"₹ 13,38,279/yr","₹1,071K","₹1,523K"
6,Optum Global Solutions,9 salaries,"₹ 13,28,697/yr",₹350K,"₹2,152K"
7,Valiance Solutions,9 salaries,"₹ 8,16,495/yr",₹502K,"₹1,467K"
8,ZS Associates,8 salaries,"₹ 11,42,356/yr",₹202K,"₹1,812K"
9,EXL Service,8 salaries,"₹ 11,46,073/yr",₹576K,"₹1,523K"

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [133]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#1. Go to flipkart webpage by url https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [134]:
#Once the website opens we get the pop. To cancel the pop up
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [135]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon.

driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [143]:
# 3. after that you will reach to a webpage having a lot of sunglasses. 
#From this page you can scrap the required data as usual.

b=[]
pdis=[]
pr=[]
dis=[]

#scrapping the brand name
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        b.append(j.text)
        b=b[:100]
        
#scrapping the product description
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        pdis.append(j.text)
        pdis=pdis[:100]

#scrapping the product price
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pr.append(j.text)
        pr=pr[:100]

#scrapping the product discount
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        dis.append(j.text)
        dis=dis[:100]

#clicking on the next page
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(2)

#creating the dataframe
Flipkart_Sun={'Brand':b,'Description':pdis,'Price':pr,'Discount':dis}
Flipkart_Sun=pd.DataFrame(data=Flipkart_Sun)
Flipkart_Sun

,Brand,Description,Price,Discount
0,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹890,55% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (54),₹699,65% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
...,...,...,...,...
95,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹890,55% off
96,PIRASO,UV Protection Aviator Sunglasses (58),₹331,87% off
97,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
98,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
99,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹751,16% off

#### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

#### As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [144]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

#1. Go to flipkart webpage by url https://www.flipkart.com/
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [146]:
#clicking on all reviews

driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [156]:
#Creating the empty list to store the data

rating=[]
summ=[]
full=[]

for i in range(0,11):
    
    #scrapping the rating
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
        rating=rating[:100]
    
    #scrapping the sunn
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        summ.append(j.text)
        summ=summ[:100]

    #scrapping the full review
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full.append(j.text)
        full=full[:100]

#creating the dataframe
iphone_reviews={'Rating':rating,'Review Summary':summ,'Full Review':full}
iphone_reviews=pd.DataFrame(data=iphone_reviews)
iphone_reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

#### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [169]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver.get('https://www.flipkart.com/')

In [170]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [171]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sneakers')

In [172]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [176]:
brand=[]
productdis=[]
price=[]
discount=[]

#scrapping the brand name
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
        brand=brand[:100]
        
#scrapping the product description
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        productdis.append(j.text)
        productdis=productdis[:100]

#scrapping the product price
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(j.text)
        price=price[:100]

#scrapping the product discount
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(j.text)
        discount=discount[:100]

#clicking on the next page
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
        time.sleep(2)
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
            
#creating the dataframe
Flipkart_Sneakers={'Brand':brand,'Description':productdis,'Price':price,'Discount':discount}
Flipkart_Sneakers=pd.DataFrame(data=Flipkart_Sneakers)
Flipkart_Sneakers

,Brand,Description,Price,Discount
0,LEATHERKRAFT,Sneakers For Men,₹296,70% off
1,PUMA,BMW MMS Future Kart Cat Sneakers For Men,"₹3,500",49% off
2,Robbie jones,Casual Sneakers White Shoes For Men And Boys S...,₹499,50% off
3,SUSON,Gym/Walking/Running Sneakers For Men,₹399,60% off
4,SPARX,SM-322 Sneakers For Men,₹769,23% off
...,...,...,...,...
95,Skechers,Sneakers For Men,"₹3,599",57% off
96,URBANBOX,Summits - Brisbane Sneakers For Men,₹199,59% off
97,ADIDAS,Anzarun Lite Sneakers For Men,"₹1,979",61% off
98,ORICUM,Rebound BBX Mesh IDP Sneakers For Men,₹629,57% off
99,NIKE,"Oricum Sports (Walking & Gym Shoes) Running, L...","₹1,932",49% off

#### Q9: Go to the link - myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [3]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver.get('https://www.myntra.com/shoes')

In [4]:
#price filter (there is no price filter for 6649 to 13099 hence will filter it with 6612 to 13075)

driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(2)

#color filter
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [5]:
#creating the dataframe to store the data
shoe=[]
ssdesc=[]
shoeprice=[]

for i in range(0,2):
    time.sleep(2)
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        shoe.append(i.text)
        shoe=shoe[:100]
    
    for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        ssdesc.append(i.text)
        ssdesc=ssdesc[:100]
    
    for i in driver.find_elements_by_xpath("//div[@class='product-price']/span[1]"):
        shoeprice.append(i.text)
        shoeprice=shoeprice[:100]
        
    #going to the next page
    driver.find_element_by_xpath("//a[@rel='next']").click()
    
#creating the dataframe
Myntra_Shoes={'Brand':shoe,'Description':ssdesc,'Price':shoeprice}
Myntra_Shoes=pd.DataFrame(data=Myntra_Shoes)
Myntra_Shoes

           Brand                      Description               Price
0           Nike   Unisex LEBRON XVIII Basketball  Rs. 12316Rs. 17595
1           Nike   Unisex COSMIC UNITY Basketball  Rs. 11470Rs. 13495
2           Nike      Men ZOOM FREAK 2 Basketball   Rs. 7721Rs. 10295
3           Nike        Men JOYRIDE Running Shoes  Rs. 11246Rs. 14995
4           Nike      Men JORDAN DELTA Basketball           Rs. 12495
..           ...                              ...                 ...
95  Hush Puppies        Men Leather Formal Derbys            Rs. 6999
96  UNDER ARMOUR   Charged RC Sportstyle Sneakers            Rs. 8999
97  Hush Puppies  Men Solid Leather Formal Derbys            Rs. 9999
98          FILA                   Women Sneakers            Rs. 8999
99          Nike      Women AIR MAX VIVA Sneakers           Rs. 12495

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver.get(' https://www.amazon.in/')

In [3]:
#Entering the laptop under search
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
time.sleep(2)

#clicking the search button

driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]').click()

In [4]:
#setting the filter for “Intel Core i7” and “Intel Core i9” 

driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a").click()
time.sleep(4)

driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a").click()

#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [13]:
#scrapping the data

#creating the empty list to enter the data
Title=[]
Ratings=[]
Price=[]

#scrapping the title
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)
    Title=Title[:10]

#scrapping the rating

Rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')  
for i in Rating:
    Ratings.append(i.get_attribute('aria-label'))
    Ratings=Ratings[:10]
    
#scrapping the Price
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    Price.append(i.text)
    Price=Price[:10]
    
#creating the dataframe
Amazon_laptop={'Title':Title,'Ratings':Ratings,'Price':Price}
Amazon_laptop=pd.DataFrame(data=Amazon_laptop)
Amazon_laptop

,Title,Ratings,Price
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5 stars,"83,990"
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5 stars,"97,990"
2,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...",4.4 out of 5 stars,"54,999"
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.5 out of 5 stars,"84,990"
4,HP Pavilion (2021) Thin & Light 11th Gen Core ...,3.1 out of 5 stars,"26,990"
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,4.1 out of 5 stars,"86,990"
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,5.0 out of 5 stars,"77,990"
7,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...",4.3 out of 5 stars,"91,490"
8,Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...,2.3 out of 5 stars,"96,000"
9,(Renewed) Dell XPS Intel 8th Gen Core i7 13.3-...,3.8 out of 5 stars,"78,990"

#### Completed