# WEB SCRAPING – ASSIGNMENT 4

In [1]:
#importing the necessary libraries

import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [36]:
#loading the drivers and URL

driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()
time.sleep(2)

#creating the empty list
Rank=[]
Name=[]
Artist=[]
Upload=[]
Views=[]

#scraping the Rank
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping the Name
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    Name.append(i.text.split('[')[0])

#scraping the Artist
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    Artist.append(i.text)

#scraping the upload date
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]"):
    Upload.append(i.text)

#scraping the number of views
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    Views.append(i.text)
    
Yotube_Most_Views={'Rank':Rank,'Name':Name,'Artist':Artist,'Uploaded Date':Upload,'Views':Views}
Yotube_Most_Views=pd.DataFrame(data=Yotube_Most_Views)
Yotube_Most_Views

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.91
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.43
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",5.53
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.37
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.16
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.44
6,7.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.26
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.22
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.22
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.11
10,11.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",3.97
11,12.,"""Sugar""",Maroon 5,"January 14, 2015",3.50
12,13.,"""Sorry""",Justin Bieber,"October 22, 2015",3.45
13,14.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.43
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.38
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.33
16,17.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.28
17,18.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.13
18,19.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.10
19,20.,"""Faded""",Alan Walker,"December 3, 2015",3.09
20,21.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.06
22,23.,"""Lean On""",Major Lazer,"March 22, 2015",3.06
23,24.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.06
24,25.,"""Let Her Go""",Passenger,"July 25, 2012",3.02
25,26.,"""Mi Gente""",J Balvin,"June 29, 2017",2.94
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",2.89
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",2.87
28,29.,"""Axel F""",Crazy Frog,"June 16, 2009",2.86
29,30.,"""Hello""",Adele,"October 22, 2015",2.85

#### 2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [67]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.bcci.tv/')
driver.maximize_window()

#clickin on International tab
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

#clicking on Fixtures
driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

#creating the empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#scraping the title
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    Title.append(i.text.replace('\n',' '))

#scraping the series
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
    Series.append(i.text.replace('\n',' '))

#scraping the place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    Place.append(i.text.replace('\n',' '))
    
#scraping the date
date= driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in range(len(date)):
    Date.append(date[i].text.split('\n')[0] + date[i].text.split('\n')[1])

#scraping the time
for i in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    Time.append(i.text)
    
#creating the DataFrame
Fixtures={'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}
Fixtures=pd.DataFrame(data=Fixtures)
Fixtures

,Title,Series,Place,Date,Time
0,1st ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",13JULY,14:30 IST
1,2nd ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",16JULY,14:30 IST
2,3rd ODI,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",18JULY,14:30 IST
3,1st T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",21JULY,19:00 IST
4,2nd T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",23JULY,19:00 IST
5,3rd T20I,SRI LANKA v INDIA,"R Premadasa Stadium, Colombo",25JULY,19:00 IST
6,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
7,2nd Test,ENGLAND v INDIA,"Lord's, London",12AUGUST,15:30 IST
8,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",25AUGUST,15:30 IST
9,4th Test,ENGLAND v INDIA,"The Oval, London",02SEPTEMBER,15:30 IST
10,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

#### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [82]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com/')
driver.maximize_window()

#clicking on selenium tutorial
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()

#clicking on Selenium exceptions
driver.find_element_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a").click()

#creating the empty list
Name=[]
Desc=[]

#scraping for name
for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td[1]'):
    Name.append(i.text)

#scraping the description
for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td[2]'):
    Desc.append(i.text)

#creating the dataframe
Guru99={'Name':Name,'Description':Desc}
Guru99=pd.DataFrame(data=Guru99)
Guru99[1:]

,Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [101]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('http://statisticstimes.com/')
driver.maximize_window()

#getting to the Indian page under economy tab
page=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
driver.get(page.get_attribute('href'))

#clicking on GDP of indian states
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

#creating the empty list
Rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

#scraping for name
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping for state name
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(i.text)

#scraping for GSDP1
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]"):
    GSDP1.append(i.text)

#scraping for GSDP1
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP2.append(i.text)
    
#scraping for share
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
    
#scraping for GDP
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [102]:
#creating the DataFrame
GDP_State={'Rank':Rank,'State':state,'GSDP 19-20':GSDP1,'GSDP 18-19':GSDP2,'Share 18-19':share,'GDP':GDP}
GDP_State=pd.DataFrame(data=GDP_State)
GDP_State

   Rank                      State GSDP 19-20 GSDP 18-19 Share 18-19      GDP
0     1                Maharashtra          -  2,632,792      13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208       8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764       8.39%  240.726
3     4                    Gujarat          -  1,502,899       7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127       7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898       5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586       4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957       4.57%  131.083
8     9                  Telangana    969,604    861,031       4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592       4.29%  122.977
10   11                     Kerala          -    781,653       4.14%  118.733
11   12                      Delhi    856,112    774,870       4.10%  117.703
12   13                    Haryana    831,610    734,163       3.89%  111.519
13   14                      Bihar    611,804    530,363       2.81%   80.562
14   15                     Punjab    574,760    526,376       2.79%   79.957
15   16                     Odisha    521,275    487,805       2.58%   74.098
16   17                      Assam          -    315,881       1.67%   47.982
17   18               Chhattisgarh    329,180    304,063       1.61%   46.187
18   19                  Jharkhand    328,598    297,204       1.57%   45.145
19   20                Uttarakhand          -    245,895       1.30%   37.351
20   21            Jammu & Kashmir          -    155,956       0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845       0.81%   23.369
22   23                        Goa     80,449     73,170       0.39%   11.115
23   24                    Tripura     55,984     49,845       0.26%    7.571
24   25                 Chandigarh          -     42,114       0.22%    6.397
25   26                 Puducherry     38,253     34,433       0.18%    5.230
26   27                  Meghalaya     36,572     33,481       0.18%    5.086
27   28                     Sikkim     32,496     28,723       0.15%    4.363
28   29                    Manipur     31,790     27,870       0.15%    4.233
29   30                   Nagaland          -     27,283       0.14%    4.144
30   31          Arunachal Pradesh          -     24,603       0.13%    3.737
31   32                    Mizoram     26,503     22,287       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

#### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [122]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')
driver.maximize_window()

#clicking on trending
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
driver.get(trending.get_attribute('href'))

#creating the empty list
name=[]
url=[]
desc=[]
count=[]
lang=[]

#getting the url of all the repository
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute('href'))

#scraping the name
for i in driver.find_elements_by_xpath("//span[@class='text-normal']"):
    name.append(i.text.replace(' /',''))
                
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
    desc.append(i.text)
 
 #looping through urls to scrape other details

for i in url:
    driver.get(i)

#scraping for count
    count1=driver.find_elements_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span")
    try:
        count.append((count1[-1].text))
    except:
        count.append('-')
        
#scraping for language
    language= driver.find_elements_by_xpath("//ul[@class='list-style-none']")
    try:
        lang.append((language[-1].text.replace('\n',' ')))
    except:
        lang.append('-')

#creating the dataframe
Github={'Repository Title':name,'Repository description':desc,'Contributors count':count,'Language used':lang}
Github=pd.DataFrame(data=Github)
Github

,Repository Title,Repository description,Contributors count,Language used
0,trekhleb,Algorithms and data structures implemented in ...,143,JavaScript 100.0%
1,swisskyrepo,A list of useful payloads and bypass for Web A...,152,Python 86.2% Ruby 6.5% ASP.NET 3.9% Classic AS...
2,microsoft,"12 Weeks, 24 Lessons, IoT for All!",23,C++ 49.8% Python 39.2% C 3.9% Jupyter Notebook...
3,30-seconds,Short JavaScript code snippets for all your de...,258,JavaScript 100.0%
4,laynH,Anime Girls Holding Programming Books,117,
5,airbnb,JavaScript Style Guide,475,JavaScript 100.0%
6,ocornut,Dear ImGui: Bloat-free Graphical User interfac...,253,C++ 88.6% C 10.0% Objective-C++ 1.3% Objective...
7,shufflewzc,不知名大佬备份,,JavaScript 96.8% Python 1.6% Other 1.6%
8,elsewhencode,A set of best practices for JavaScript projects,72,JavaScript 100.0%
9,ryanmcdermott,Clean Code concepts adapted for JavaScript,109,JavaScript 100.0%
10,lydiahallie,A long list of (advanced) JavaScript questions...,160,
11,goldbergyoni,The Node.js best practices list (June 2021),196,JavaScript 60.3% Shell 12.7% Dockerfile 10.2% ...
12,sorrycc,A collection of awesome browser-side JavaScrip...,267,
13,chefyuan,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,6,Java 100.0%
14,donnemartin,Learn how to design large-scale systems. Prep ...,110,Python 98.0% Shell 2.0%
15,nikolaydubina,Handy commands to run in Go projects,3,
16,CaffeineMC,A Fabric mod designed to improve frame rates a...,27,Java 99.1% GLSL 0.9%
17,EbookFoundation,Freely available programming books,"1,626",
18,rosinality,Unofficial implementation of Alias-Free Genera...,2,Python 89.7% Cuda 7.5% C++ 1.3% Other 1.5%
19,jklepatch,"Source code for Eat The Blocks, a screencast f...",6,JavaScript 80.7% Solidity 16.1% HTML 1.4% SCSS...
20,TheAlphamerc,E-Commerce App built in flutter,3,Dart 92.7% Ruby 6.2% Other 1.1%
21,ytdl-org,Command-line program to download videos from Y...,768,Python 99.6% Other 0.4%
22,topjohnwu,The Magic Mask for Android,212,C++ 41.5% Kotlin 40.9% Java 11.7% Shell 4.2% P...
23,godotengine,Godot Engine – Multi-platform 2D and 3D game e...,"1,445",C++ 90.1% C 2.2% C# 2.1% GLSL 1.6% Java 1.4% P...
24,austinsonger,GOAL: Incident Response Playbooks Mapped to MI...,3,Python 66.4% Scala 11.0% HTML 7.4% TypeScript ...

#### 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.billboard.com/')
driver.maximize_window()

#getting the billboard 200 page
billboard_200=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[4]/a')
driver.get(billboard_200.get_attribute('href'))

#creating the empty list
song=[]
name=[]
lweek=[]
peak=[]
week=[]

#scraping for song name
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]"):
    song.append(i.text)

#scraping for name of the artist
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    name.append(i.text)

#scraping for last week rank 
for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[1]"):
    lweek.append(i.text)

#scraping for peak rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]"):
    peak.append(i.text)

#scraping for Weeks on board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]"):
    week.append(i.text)

#creating the dataframe
Billboard100={'Song Name':song,'Artist Name':name,'Last Week Rank':lweek,'Peak Rank':peak,'Weeks on board':week}
Billboard100=pd.DataFrame(data=Billboard100)
Billboard100[:100]

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Call Me If You Get Lost,"Tyler, The Creator",,-,1
1,Planet Her,Doja Cat,,-,2
2,Sour,Olivia Rodrigo,1,1,6
3,The Voice Of The Heroes,Lil Baby & Lil Durk,3,1,4
4,Hall Of Fame,Polo G,2,1,3
...,...,...,...,...,...
95,Luv Is Rage 2,Lil Uzi Vert,92,1,201
96,Divinely Uninspired To A Hellish Extent,Lewis Capaldi,88,20,111
97,Still Sleep?,Sleepy Hallow,,103,38
98,Take Care,Drake,98,1,435
99,All Time Greatest Hits,Lynyrd Skynyrd,91,56,133

#### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [2]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
driver.maximize_window()

#clicking on the recruiters page
Recruiters=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a')
driver.get(Recruiters.get_attribute('href'))

#entering the Data science in search bar and clicking on search
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Science')
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

#few recuiters have not given the location, hence filtering out those with the selection of location name.
for i in range(1,6):
    driver.find_element_by_xpath('//*[@id="acord"]/div[1]/a[{}]'.format(i)).click() #select all the location on front page

driver.find_element_by_xpath("//*[@id='acord']/div[1]/span").click() #click on more under location

#selecting all the remaining location
for i in range(1,22):
    driver.find_element_by_xpath('//*[@id="clstr_Recruiters Location"]/div/div[1]/div/a[{}]'.format(i)).click()

driver.find_element_by_xpath("//button[@class='blueBtn']").click() # clicking on refine

#now we have all the location details.

#creating the empty list
name=[]
designation=[]
company=[]
skills=[]
location=[]

#creating the range function to scrap from all the pages
for i in range(0,117):
    for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"): #scrapping for name
        name.append(i.text)

    for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"): #scrapping for designation
        designation.append(i.text)

    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"): #scrapping for company name
        company.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"): #scrapping for skills they hire
        skills.append(i.text)

    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]/small"): #scrapping for location
        location.append(i.text)

#to click on next button
    try:
        try:
            driver.find_element_by_xpath("//div[@class='pagination']/button[2]").click()
        except:
            driver.find_element_by_xpath("//div[@class='pagination']/button").click()
    except:
        NoSuchElementException

In [10]:
#creating the dataframe for 1000 recuiters
Recruiters={'Name':name[:1000],'Designation':designation[:1000],'Company':company[:1000],
            'Skill I hire for':skills[:1000],'Location':location[:1000]}
Recruiters=pd.DataFrame(data=Recruiters)
Recruiters

,Name,Designation,Company,Skill I hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
2,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
3,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
4,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
...,...,...,...,...,...
995,Rambabu K,Technical Recruiter,PYLON Management Consulting,Not Specified,Mumbai
996,Sandhya S,Senior Recruiter,Planman HR Private Limited,Not Specified,Bengaluru / Bangalore
997,Bharat,Lead Consultant,NEUFVASI DIGITAL SOLUTIONS PRIVATE LIMITED,"Ui Development, Product Development, Big Data,...",Bengaluru / Bangalore
998,Sudha Krishnan,Associate Director,Tiger Analytics,"Data Science, Big Data, Consultant, Business A...",Bengaluru / Bangalore
999,Sparsh Khandelwal,Executive Assistant to CEO,MakeRobos Innovation Labs,"python, angularjs, Node.js, adobe, illustrator...",Bengaluru / Bangalore

#### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [19]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()

#creating the empty list
name=[]
author=[]
volume=[]
publisher=[]
genre=[]

#scraping for name
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

#scraping for author
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)

#scraping for volume
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

#scraping for publisher
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

#scraping for genre
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
#creating the Dataframe
Novels={'Book Name':name,'Author Name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre}
Novels=pd.DataFrame(data=Novels)
Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [46]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

#creating the empty list
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
votes=[]

#scraping the details
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
    
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year.append(i.text)

for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)
    
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    runtime.append(i.text)

for i in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]"):
    rating.append(i.text)

for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(i.text)

#creating the dataframe
IMDB100={'Name':name,'Year Span':year,'Genre':genre,'Run time':runtime,'Ratings':rating,'Votes':votes}
IMDB100=pd.DataFrame(data=IMDB100)
IMDB100

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,833,045"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"871,908"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,286"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"263,891"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,455"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,756"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,336"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"169,186"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,083"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,007"

#### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [53]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()
time.sleep(4)

#clicking on vew all dataset
dataset=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
driver.get(dataset.get_attribute('href'))

#creating the empty list
name=[]
datatype=[]
task=[]
attribute=[]
instances=[]
no_attribute=[]
year=[]

#scraping all the details
for i in driver.find_elements_by_xpath("//tr['@bgcolor=#003366']/td/table/tbody/tr/td[2]/p/b/a"):
    name.append(i.text)

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p"):
    datatype.append(i.text)
datatype=datatype[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p"):
    task.append(i.text)
task=task[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p"):
    attribute.append(i.text)
attribute=attribute[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p"):
    instances.append(i.text)
instances=instances[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p"):
    no_attribute.append(i.text)
no_attribute=no_attribute[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p"):
    year.append(i.text)
year=year[1:]

#creating the dataset
UCI={'Dataset Name':name,'Data Type':datatype,'Task':task,'Attribute Type':attribute,
    'No of Instances':instances,'No of Attribue':no_attribute,'Year':year}
UCI=pd.DataFrame(data=UCI)
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribue,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

#### Completed